@page
@model HowLongsModel
@{
    ViewData["Title"] = "How Long Config";
}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>How Long Config</h2>
            <ol>
                <li><a asp-page="/Index">Home</a></li>
                <li>How Long Config</li>
            </ol>
        </div>
    </div>
</section>
<section class="inner-page">
    <div class="container">
        <form id="setting-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.StartDate" class="form-control" />
                <label asp-for="Input.StartDate" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ApartDate" class="form-control" />
                <label asp-for="Input.ApartDate" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PartnerName" class="form-control" disabled/>
                <label asp-for="Input.PartnerName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <span>If your partner don't have account yet do not enter Id</span>
            </div>
            <div class="form-floating mb-3">

                <input asp-for="Input.PartnerId" class="form-control" disabled />
                <label asp-for="Input.PartnerId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="CurrentUserId" class="form-control" disabled />
                <label for="CurrentUserId" class="form-label">Your Current Id</label>
            </div>

            <button id="settings-button" type="submit" class="w-100 btn btn-lg btn-outline-primary">Save</button>
        </form>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}