@page
@model HowLongsModel
@{
    ViewData["Title"] = "How Long Config";
}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-area="ConfigPage" asp-page="/HowLong">How Long</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="ConfigPage" asp-page="/HobbyConfig">Hobby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-area="ConfigPage" asp-page="/StoryConfig">Story</a>
                </li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link scrollto btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-6">
        <form id="setting-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.StartDate" class="form-control" />
                <label asp-for="Input.StartDate" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ApartDate" class="form-control" />
                <label asp-for="Input.ApartDate" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PartnerName" class="form-control" />
                <label asp-for="Input.PartnerName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <span>If your partner don't have account yet do not enter Id</span>
            </div>
            <div class="form-floating mb-3">

                <input asp-for="Input.PartnerId" class="form-control" />
                <label asp-for="Input.PartnerId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="CurrentUserId" class="form-control" disabled />
                <label for="CurrentUserId" class="form-label">Your Current Id</label>
            </div>

            <button id="settings-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <span class="badge bg-danger text-wrap fs-6" style="width: 30rem;">You must config How Long first to access all config</span>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}