<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTogether</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile mt-5">
                <h1 class="text-light"><a asp-page="/Index">BTogether</a></h1>
                <div class="social-links mt-3 text-center">
                </div>
            </div>
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <partial name="_LoginPartial" />
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>BTogether</span></strong>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><box-icon color="white" name='up-arrow-alt'></box-icon></a>

    <script src="~/lib/purecounter/purecounter_vanilla.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/typed.js/typed.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/waypoints/noframework.waypoints.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>