@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bx bx-user"></i><span>Hi @UserManager.GetUserName(User).</span></a>
    </li>
    <li><a href="#hero" class="nav-link scrollto"><i class="bx bx-home-heart"></i> <span>Home</span></a></li>
    <li><a href="#howlong" class="nav-link scrollto"><i class="bx bx-circle-three-quarter"></i> <span>How Long</span></a></li>
    <li><a href="#hobby" class="nav-link scrollto"><i class="bx bx-happy-heart-eyes"></i> <span>Hobby</span></a></li>
    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-male-female"></i> <span>Story</span></a></li>
}
else
{
    @*<li><a class="nav-link scrollto" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
    <li><a class="nav-link scrollto" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bx bx-user"></i><span>Login</span></a></li>
}