@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Un and Hoe</h1>
            <p><span class="typed" data-typed-items="Anh Yêu Em, I Love You, 사랑해요, 我爱你, Я люблю вас, ผมรักคุณ"></span></p>
        </div>
    </section>
</div>

